<template>

  <b-container>
    <b-row>
      <b-col>
        <b-form-group id="input-group-2" label="Digite uma palavra:" label-for="input-2">
          <b-form-input v-model="text" placeholder=""></b-form-input>
        </b-form-group>
      </b-col>
      <b-col>
        <b-form-group id="input-group-2" label="Idioma de Busca:" label-for="input-2">
          <b-form-select v-model="selected" :options="options">
          </b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button right v-on:click="search">Buscar</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="list">

        <div v-if="loading">Carregando...</div>

        <ul class="list-unstyled" v-else>

          <b-media tag="li" v-for="book in info" v-bind:key="book.id" class="item-book">
            <template v-slot:aside>
              <b-img :src="book.thumbnail" fluid width="64" alt="placeholder"></b-img>
            </template>
            <h5 class="mt-0 mb-1">

              <b-icon v-if="favorites.includes(book.id)" icon="star-fill" variant="warning" v-on:click="favorite(book.id)"></b-icon>
              <b-icon v-else icon="star" variant="warning"  v-on:click="favorite(book.id)"></b-icon>

              {{book.title}}
            </h5>
            <p class="mb-0" v-for="author in book.authors" v-bind:key="author">

                {{author}}

            </p>
          </b-media>


        </ul>

      </b-col>
    </b-row>

  </b-container>
</template>

<script>

var axios = require('axios')
axios.defaults.headers.post['Content-Type'] ='application/x-www-form-urlencoded';


export default {
  name: 'Home',
  data() {
    return {
      loading: false,
      info: null,
      text: null,
      selected: 'pt-br',
      favorites: [],
      options: [
        { value: 'pt-br', text: 'Português' },
        { value: 'en', text: 'Inglês' }
      ]
    }
  },
  methods: {
    search: function () {
      if(this.text){
        this.loading = true;
        axios.get('http://localhost:3000/books',{
            params: {
              q: this.text,
              lang: this.selected
            }
          })
          .then(response => {
            console.log(response.data);
            this.info = response.data
          })
          .catch(error => {
            console.log(error)
          })
          .finally(() => this.loading = false)
      }
    },
    favorite: function(id){

      axios.put('http://localhost:3000/books?id_book='+id)
        .then(response => {
          if(response.data.status == 'created'){
            console.log('Adicionado');
          }else{
            console.log('Removido');
          }
          this.allFavorites();
        })
        .catch(error => {
          console.log(error)
        })
        .finally(() => this.loading = false)
    },
    allFavorites: function(){

      axios.get('http://localhost:3000/books/favorites')
        .then(response => {

          this.favorites = [];
          let favorites2 = [];

          Object.keys(response.data).map((key) => {
            favorites2[key] = response.data[key]['id_book'];
          });

          this.favorites = favorites2

        })
        .catch(error => {
          console.log(error)
        })
        .finally(() => this.loading = false)


    }
  },
  mounted () {
    this.allFavorites();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .list{
    width: 100%;
    margin-top: 40px;
  }

  .item-book{
    margin-bottom: 15px;
  }
</style>
